<h2 class="title is-2">My Orders</h2>
<div class="container">
  <% @orders.each do |o| %>
    <h3 class="title is-3">Order #<%= o.id %></h3>
    <h4 class="title is-4"><%= o.created_at%></h4>
    <table class="table" style="width: 100%">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Product Count</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% o.order_items.each do |oi| %>
          <tr>
            <td><%= oi.product.name %></td>
            <td><%= oi.count %></td>
            <td><%= oi.subtotal %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h5>Total: <%= number_to_currency o.total %></h5>
  <% end %>
</div>
