<!DOCTYPE html>
<html>
  <head>
    <title>YeOldeBookshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<header class="container">
  <nav class="navbar" role="navigation" style="min-height: 100px">
    <div class="navbar-brand">
      <a class="navbar-item" href="/products">
        <img src="https://i.imgur.com/qFbupvJ.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" style="max-height: none; height: 75px">
      </a>
    </div>
    <div class="navbar-menu" id="main-menu">
      <div class="navbar-start" style="align-items: center">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <% if user_signed_in? %>
              <%= current_user.email %>
            <% else %>
              User
            <% end %>
          </a>
          <div class="navbar-dropdown">
            <% if user_signed_in? %>
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-item' %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-item'  %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-item'  %> |
              <%= link_to "Login", new_user_session_path, :class => 'navbar-item'  %>
            <% end %>
          </div>
        </div>
        <a class="navbar-item" href=<%= categories_path %>>
          Categories
        </a>
      </div>
      <form class="navbar-end" action="/products" method="get" style="align-items: center">
        <div class="select navbar-item">
          <select id="category" name="category">
              <option value="">All Products</option>
            <% Category.all.each do |category| %>
              <option class="navbar-item" value="<%= category.id%>"><%= category.name %></option>
            <% end %>
          </select>
        </div>
        <input class="input navbar-item" type="text" id="query" name="query" placeholder="Search Products..."/>
        <input class="button navbar-item is-primary ml-3" type="submit" value="Search">
      </form>
    </div>
  </nav>
</header>
    <div class="container is-align-items-center is-justify-content-center">
      <%= yield %>
    </div>
  </body>
</html>
